.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #4caf50, #45a049);
  padding: 20px 10px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.register-btn,
.dashboard-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.register-btn:hover,
.dashboard-btn:hover {
  background-color: #e8f5e9;
  color: #45a049;
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
}

.close-btn:hover {
  color: #000;
}

.dashboard-btn {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .dashboard-btn:hover {
  background-color: #b2dfdb;
  color: #004d40;
} */
